# Binários e objetos do .NET
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/

# Arquivos gerados pela compilação
*.user
*.suo
*.userosscache
*.sln.docstates

# Pasta de uploads
BRBPresentation/wwwroot/uploads/

# Pasta de pacotes
**/[Pp]ackages/
*.nupkg

# Pasta de publicação
publish/

# Arquivos de configuração do Visual Studio Code
.vscode/

# Arquivos de configuração do Visual Studio
.vs/
*.opendb
*.sdf
*.cachefile
*.dbmdl

# Pasta de cache do NuGet
.nuget/

# Arquivos de log
*.log
*.log.*

# Arquivos temporários
*.tmp
*.tmp_proj
*.cache
*.bak
*.swp
*.swp.*
*~.nib

# Arquivos de configuração locais
appsettings.Development.json

# Arquivos de banco de dados SQL Server
*.mdf
*.ldf

# Arquivos de backup
Backup*/

# Arquivos de configuração do Rider
.idea/

# Arquivos de configuração do Resharper
_ReSharper*/

# Arquivos de cobertura de código
*.coveragexml
BRBPresentation/obj/Debug/net7.0/BRBPresentation.csproj.AssemblyReference.cache
BRBPresentation/obj/Debug/net7.0/project.razor.vscode.bin
BRBPresentation/obj/Debug/net7.0/BRBPresentation.csproj.AssemblyReference.cache
BRBPresentation/obj/Debug/net7.0/project.razor.vscode.bin
BRBPresentation/wwwroot/uploads/.DS_Store
Core/bin/Debug/net7.0/Core.dll
Core/bin/Debug/net7.0/Core.pdb
Core/obj/Debug/net7.0/Core.dll
Core/obj/Debug/net7.0/Core.pdb
Core/obj/Debug/net7.0/ref/Core.dll
Core/obj/Debug/net7.0/refint/Core.dll
Infrastructure/bin/Debug/net7.0/Core.dll
Infrastructure/bin/Debug/net7.0/Core.pdb
Infrastructure/bin/Debug/net7.0/Infrastructure.dll
Infrastructure/bin/Debug/net7.0/Infrastructure.pdb
Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net7.0/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/Infrastructure.pdb
BRBPresentation/obj/Debug/net7.0/BRBPresentation.csproj.AssemblyReference.cache
BRBPresentation/obj/Debug/net7.0/project.razor.vscode.bin
BRBPresentation/wwwroot/.DS_Store
Core/bin/Debug/net7.0/Core.dll
Core/bin/Debug/net7.0/Core.pdb
Core/obj/Debug/net7.0/Core.dll
Core/obj/Debug/net7.0/Core.pdb
Core/obj/Debug/net7.0/ref/Core.dll
Core/obj/Debug/net7.0/refint/Core.dll
Infrastructure/bin/Debug/net7.0/Core.dll
Infrastructure/bin/Debug/net7.0/Core.pdb
Infrastructure/bin/Debug/net7.0/Infrastructure.dll
Infrastructure/bin/Debug/net7.0/Infrastructure.pdb
Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net7.0/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/Infrastructure.pdb
